{% extends "base.html" %}

{% block app_content %}

  <div class='row' style='margin-bottom:30px'><h2>Deliveries: {{ user.name }}</h2></div>
  <div class='flex-container'>
    <div class='row'>
      <div class='col-lg-12'>

        {% if user.user_type == 'volunteer' %}
        <a class="btn btn-primary btn-lg" href="{{ url_for('delivery_signup') }}" role="button" style='font-size:20px'>Delivery Signup</a>
        {% elif user.user_type == 'recipient' %}
        <a class="btn btn-primary btn-lg" href="{{ url_for('book') }}" role="button" style='font-size:20px'>Book Delivery</a>
        {% endif %}

        <div style='margin-bottom:55px; margin-top:55px'>
          <h3> Upcoming Deliveries </h3>
          <br>
          {{ user.get_transactions(completed=False) | safe }}
        </div>
        <p><a href='{{ url_for('completed_deliveries', username=current_user.username) }}' style='font-size: 15px'>View Completed Deliveries</a></p>
      </div>
    </div>
  </div>

{% endblock %}
