<p>Dear {{ user.name }},</p>
<p>
Thank you for placing an order with Hanover Helpers!
Your order is set for <b>{{ date }}</b>.
</p>
<p>You will receive a notification email when your order is picked up by a volunteer.</p>

<p> To see your order go to your user profile at the following link:</p>

<a href="{{ url_for('user', username=user.username) }}" style='font-size:15px'>{{ user.name }}'s Profile</a>

<p>You can alter your order until <b>this Thursday evening at 8PM.</b></p>

<p>Thank you,</p>
<p>Hanover Helpers</p>
