{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
 <link rel="shortcut icon" href="{{ url_for('static', filename='natalie.jpg' )}}" type="image/gif"/>
{% endblock %}

{% block title %}
Hanover Helpers
{% endblock %}

{% block navbar %}
<header class="navbar navbar-header">
  <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
    <div class="navbar-brand">
      <div class="df-logo" style="color:green; margin-right: 0px">Hanover<span style='color:darkgreen'>Helpers</span></a></div>
    </div>
    <div id="navbarMenu" class="navbar-menu-wrapper" style="padding:0px" align='left'>
      <ul class="nav navbar-menu">
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}" style="color:black;font-size:20px">Login</a>
        {% else %}
        <div style='margin-right:20px'><a href="{{ url_for('user', username=current_user.username) }}" style="font-size:20px">Profile</a></div>
        <div>
        <a href="{{ url_for('logout') }}" style="font-size:20px">Logout</a></div>
        {% endif %}
      </ul>
    </div>
      <div class="navbar-right">

      </div>
</header>
{% endblock %}


{% block content %}
  <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
      {% endif %}
      {% endwith %}


      <div class="content content-fixed bd-b" style='margin-top:10px'>
        <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
          {% block app_content %}
          {% endblock %}
        </div>
      </div>

  </div>
{% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<!-- vendor css -->
<link href="{{ url_for('static', filename='/lib/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='/lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">

<!-- DashForge CSS -->
<link href="{{ url_for('static', filename='/assets/css/dashforge.css') }}" rel="stylesheet">
{% endblock %}


{% block scripts %}
<script
src="https://code.jquery.com/jquery-3.5.0.js"
integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/sp-1.0.1/datatables.js"></script>



<script src="{{ url_for('static', filename='/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='/lib/feather-icons/feather.min.js') }}"></script>
<script src="{{ url_for('static', filename='/assets/js/dashforge.js') }}"></script>


<script>
$(document).ready( function () {
  $('table.display').DataTable();
} );
</script>
{% endblock %}
