{% extends "base.html" %}

{% block app_content %}
  {% if usertype == 'volunteer' %}
    <div class='row' style='margin-bottom:30px'><h2> {{ user.username }}'s Profile </h2></div>
    <div class='flex-container'>
      <div class='row'>
        <div class='col-md-6'>

          <h3> Preferences </h3>
            <p>
              <h4> Name </h4>
              {{ user.name }} <br>
            </p>
            <p>
              <h4> Email </h4>
              {{ user.email }} <br>
            </p>
            <p>
              <h4> Phone </h4>
              {{ user.phone }} <br>
            </p>
        <p><a class="btn btn-primary btn-md btn-block" href="{{ url_for('edit_user_info', username=current_user.username) }}" role="button">Edit User Info</a></p>
        <p><a href='{{ url_for('edit_login', username=current_user.username) }}' style='font-size: 20px'>Change password</a></p>
        </div>

        <div class='col-md-6'>
          <div style='margin-bottom:55px'>
            <h3> Upcoming Deliveries </h3>
            <br>
            {{ user.get_transactions(completed=False) | safe }}
          </div>

          <div style='margin-bottom:40px'>
            <h3> Completed Deliveries </h3>
            <br>
            {{ user.get_transactions(completed=True) | safe }}
          </div>

          <a class="btn btn-primary btn-md btn-block" href="{{ url_for('delivery_signup') }}" role="button" style='font-size:20px'>Delivery Signup</a>

        </div>
      </div>
    </div>

  {% elif usertype == 'recipient' %}
    <div class='row' style='margin-bottom:30px'><h2> {{ user.username }}'s Profile </h2></div>
    <div class='flex-container'>
      <div class='row'>
        <div class='col-md-6'>

          <div>
            <h3> Preferences </h3>
              <p>
                <h4> Name </h4>
                {{ user.name }} <br>
              </p>
              <p>
                <h4> Phone </h4>
                {{ user.phone }} <br>
              </p>
              <p>
                <h4> Address </h4>
                {{ user.address }} <br>
              </p>

              <p><a class="btn btn-primary btn-md btn-block" href="{{ url_for('edit_user_info', username=current_user.username) }}" role="button">Edit User Info</a></p>
          </div>

          <div>
              <p>
                <h4> Store </h4>
                {{ user.store }} <br>
              </p>
              <p>
                <h4> Dropoff Day of Week </h4>
                {{ user.dropoff_day }} <br>
              </p>
              <p>
                <div>
                  <h4>Dropoff Notes</h4>
                    <div style="overflow:scroll">
                      {{ user.dropoff_notes }}
                    </div>
                </div>
              </p>
              <p>
                <div>
                  <h4>Payment Notes</h4>
                    <div style="overflow:scroll">
                      {{ user.payment_notes }}
                    </div>
                </div>
              </p>
              <p>
                <div>
                  <h4>Standard Grocery List</h4>
                    <div style="overflow:scroll">
                      {{ user.grocery_list }}
                    </div>
                </div>
              </p>
          <p><a class="btn btn-primary btn-md btn-block" href="{{ url_for('edit_delivery_preferences', username=current_user.username) }}" role="button">Edit Delivery Preferences</a></p>
          <p><a href='{{ url_for('edit_login', username=current_user.username) }}' style='font-size: 20px'>Change password</a></p>
        </div>

      </div>

        <div class='col-md-6'>

          <div style='margin-bottom:55px'>
            <h3> Upcoming Deliveries </h3>
            <br>
            {{ user.get_transactions(completed=False) | safe }}
          </div>

          <div style='margin-bottom:40px'>
            <h3> Completed Deliveries </h3>
            <br>
            {{ user.get_transactions(completed=True) | safe }}
          </div>

          <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('book') }}" role="button">Book Delivery</a>

        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
