{% extends 'base.html'%}

{% block app_content %}

  <p><h4>Recipient</h4></p>

  <b>{{ transaction.recipient.name }}</b>

  <p><h4>Recipient Phone</h4></p>

  {{ transaction.recipient.phone }}

  <p><h4>Recipient Address</h4></p>
    <p>
    {{ transaction.recipient.address }}
    </p>

  {% if transaction.recipient.address_notes  %}
  <p><h4>Address Notes</h4></p>
    <p>
    {{ transaction.recipient.address_notes }}
    </p>
  {% endif %}

  {% if transaction.payment_type  %}
  <p><h4>Payment Type</h4></p>
    <p>
    {{ transaction.payment_type }}
    </p>
  {% endif %}

  {% if transaction.payment_notes  %}
  <p><h4>Payment Notes</h4></p>
    <p>
    {{ transaction.payment_notes }}
    </p>
  {% endif %}


  {% if transaction.notes  %}
  <p><h4>Other Notes</h4></p>
    <p>
    {{ transaction.notes }}
    </p>
  {% endif %}

<div class='st'>
  <p><h4>List</h4></p>
  {% for elem in transaction.print_list() %}
    <li>{{ elem }}</li>
  {% endfor %}
</div>
{% endblock %}
