{% extends 'base.html'%}

{% block app_content %}

  <p><h4>Recipient</h4></p>

  <b>{{ transaction.recipient_name() }}</b>

  <p><h4>Payment Notes</h4></p>
  <p>
  {% for elem in recipient.print_payment_notes() %}
    <li>{{ elem }}</li>
  {% endfor %}
  </p>

  <p><h4>Notes</h4></p>
  <p>
  {% for elem in transaction.print_notes() %}
    <li>{{ elem }}</li>
  {% endfor %}
  </p>

  <p><h4>List</h4></p>
  <p>
  {% for elem in transaction.print_list() %}
    <li>{{ elem }}</li>
  {% endfor %}
  </p>

{% endblock %}
