{% extends 'base.html'%}

{% block app_content %}

  <p><h4>Recipient</h4></p>

  <b>{{ transaction.recipient.name }}</b>

  <p><h4>Recipient Address</h4></p>
    <p>
    {{ transaction.recipient.address }}
    </p>

  {% if transaction.recipient.address_notes  %}
    <p>
    {{ transaction.recipient.address_notes }}
    </p>
  {% endif %}

  <p><h4>Notes</h4></p>
    <p>
    {{ transaction.notes }}
    </p>

  <p><h4>List</h4></p>
  <p>
  {% for elem in transaction.print_list() %}
    <li>{{ elem }}</li>
  {% endfor %}
  </p>

{% endblock %}
